<div mat-dialog-content>
    <mat-grid-list cols="2" rowHeight="470px">
        <mat-grid-tile [colspan]="isMobile || isMedium ? 0 : 1" rowspan="1">
            <p class="contact-left-pane-title">
                Contact Me<span class="accent">.</span>
            </p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="isMobile || isMedium ? 2 : 1" rowspan="1">
            <form>
                <p></p>
                <div>
                    <mat-form-field appearance="legacy" color="accent" style="width: 100%;">
                        <mat-label>Name</mat-label>
                        <input matInput [formControl]="requiredFormControl">
                        <mat-icon matSuffix color="accent">account_circle</mat-icon>
                        <mat-error *ngIf="requiredFormControl.hasError('required')">
                            Name is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="legacy" color="accent" style="width: 100%;">
                        <mat-label>Email</mat-label>
                        <input matInput [formControl]="emailFormControl">
                        <mat-icon matSuffix color="accent">email</mat-icon>
                        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                            Please enter a valid email address
                        </mat-error>
                        <mat-error *ngIf="emailFormControl.hasError('required')">
                            Email is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="legacy" color="accent" style="width: 100%;">
                        <mat-label>Phone</mat-label>
                        <span matPrefix>+1 &nbsp;</span>
                        <input matInput [formControl]="phoneFormControl">
                        <mat-icon matSuffix color="accent">phone</mat-icon>
                        <mat-error *ngIf="phoneFormControl.hasError('required')">
                            A phone number is <strong>required</strong>
                        </mat-error>
                        <mat-error *ngIf="phoneFormControl.hasError('pattern')">
                            Please enter a valid phone number
                        </mat-error>
                    </mat-form-field>
                </div>
                <p>
                    <mat-form-field appearance="outline" color="accent" style="width: 100%;">
                        <mat-label>Message</mat-label>
                        <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2"
                            cdkAutosizeMaxRows="2">
                        </textarea>
                        <mat-hint>Optional</mat-hint>
                    </mat-form-field>
                </p>
            </form>
            <p>
                <mat-dialog-actions align="center">
                    <button mat-raised-button color="accent" class="contact-cta-btn">Send</button>
                </mat-dialog-actions>
            </p>
            <p>
                <mat-dialog-actions align="center">
                    <button mat-button color="accent" (click)="onNoClick()" class="contact-cancel-btn">Cancel</button>
                </mat-dialog-actions>
            </p>
        </mat-grid-tile>
    </mat-grid-list>
</div>