@import '../custom-theme.scss';

.toolbar {
    z-index: 500;
    position: fixed;
    transition: background-color 1s linear;
}

.solid-nav-bar {
    background-color: rgb(20, 20, 20);
}

.my-name {
    font-family: pacifico;
    text-decoration: underline;
    text-decoration-color: $accent-color;
}