<mat-toolbar color="primary" class="toolbar" [class.solid-nav-bar]="!atTop" [class.transparent]="atTop">
    <span style="font-family: 'Pacifico' !important;">Wesley Young</span>
    <span style="flex: 1 1 auto;"></span>
    <button mat-button routerLink="/">
        Home
    </button>
    <button mat-button routerLink="resume">
        Resume
    </button>
    <button mat-button routerLink="about">
        About Me
    </button>
    <button mat-button>
        Contact
    </button>
</mat-toolbar>
<router-outlet></router-outlet>
