@import '../custom-theme.scss';

.toolbar {
    z-index: 500;
    position: fixed;
    transition: background-color 1s linear;
}

.solid-nav-bar {
    background-color: rgb(20, 20, 20);
}

.my-name {
    font-family: pacifico;
    text-decoration: underline;
    text-decoration-color: $pop-color;
}

.centered-footer-tile {
    width: 100%;
    height: 100%;
    line-height: 100%;
    display: flex !important;
}
  
.centered-footer-tile > .mat-figure > div {
    vertical-align: middle;
    display: inline-block;
    line-height: 15;
    width: 100%;
    display: flex !important;
}

.footer-goodbye {
    font-family: pacifico;
    color: whitesmoke;
    text-transform: capitalize;
    margin-top: 0 !important;
    font-weight: 100 !important;
    margin-bottom: 0 !important;
    font-size: 80px;
    line-height: 1;
}

.footer-goodbye {
    font-family: pacifico;
    color: whitesmoke;
    text-transform: capitalize;
    margin-top: 0 !important;
    font-weight: 100 !important;
    margin-bottom: 0 !important;
    font-size: 80px;
    line-height: 1;
}

.footer-goodbye-sm {
    font-size: 55px !important;
}