<div class="full-height-container banner banner-section">
    <mat-grid-list cols="6" rowHeight="100%" style="overflow-x: visible">
        <mat-grid-tile colspan="6" rowspan="1">
            <div class="banner-container">
                <span>
                    <h1 class="banner-title pacifico">Web Developer<span class="accent">.</span></h1>
                    <!--<p class="banner-subtitle">Focused on <span class="accent">powerful</span> designs</p>-->
                    <button mat-raised-button color="accent" class="loud-btn">
                        Get In Touch.
                    </button>
                </span>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>
<div class="container">
    <div class="content-strip">
        <h1 class="content-headline">Skills</h1>
        <mat-grid-list [cols]="isMedium ? 12 : 10" rowHeight="400px" style="overflow-x: visible">
            <mat-grid-tile [colspan]="isMobile ? 10 : isMedium ? 4 : 2" rowspan="1" *ngFor="let skill of skills">
                <mat-card class="skill-card">
                    <img [src]="skill.img" alt="NodeJS" class="skill-img">
                    <p class="skill-title">
                        {{skill.name}}<span [style.color]="skill.color">{{skill.name_accent}}</span>
                    </p>
                    <mat-card-content>
                        <mat-icon [style.color]="skill.color" [svgIcon]="skill.rating >= 1 ? 'star' : 'emptyStar'"
                            aria-hidden="false" aria-label="star" class="skill-star"></mat-icon>
                        <mat-icon [style.color]="skill.color" [svgIcon]="skill.rating >= 2 ? 'star' : 'emptyStar'"
                            aria-hidden="false" aria-label="star" class="skill-star"></mat-icon>
                        <mat-icon [style.color]="skill.color" [svgIcon]="skill.rating >= 3 ? 'star' : 'emptyStar'"
                            aria-hidden="false" aria-label="star" class="skill-star"></mat-icon>
                        <mat-icon [style.color]="skill.color" [svgIcon]="skill.rating >= 4 ? 'star' : 'emptyStar'"
                            aria-hidden="false" aria-label="star" class="skill-star"></mat-icon>
                        <mat-icon [style.color]="skill.color" [svgIcon]="skill.rating >= 5 ? 'star' : 'emptyStar'"
                            aria-hidden="false" aria-label="star" class="skill-star"></mat-icon>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button [style.color]="skill.color" class="skill-btn">MORE</button>
                    </mat-card-actions>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>
<div class="container true-black">
    <div class="content">
        <mat-grid-list cols="6" rowHeight="250px" style="overflow-x: visible">
            <mat-grid-tile [colspan]="!isMobile ? 3 : 6" rowspan="1">
                <h2 class="footer-headline">Contact</h2>
                <div class="dash"></div>
                <p class="footer-txt">wesley.young.portfolio@gmail.com</p>
                <p class="footer-txt">435.229.8832</p>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="!isMobile ? 3 : 6" rowspan="1">
                <h2 class="footer-headline">Site Map</h2>
                <div class="dash"></div>
                <p style="text-align: center;">
                    <button mat-button color="accent" routerLink="/" style="padding: 0 25% 0 25%;">
                        HOME
                    </button>
                    <button mat-button color="accent" routerLink="about" style="padding: 0 25% 0 25%;">
                        ABOUT
                    </button>
                    <button mat-button color="accent" style="padding: 0 25% 0 25%;">
                        CONTACT
                    </button>
                </p>

            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>