<canvas class="molecular-field-bg" #molecularBg></canvas>
<div class="full-height-container banner banner-section dark-bg">
    <mat-grid-list cols="6" rowHeight="100%" style="overflow-x: visible">
        <mat-grid-tile colspan="6" rowspan="1">
            <div class="banner-container" [class.banner-container-mobile]="isMobile">
                <div>
                    <img src="./assets/imgs/profile.webp" class="banner-img" [class.banner-img-mobile]="isMobile">
                    <svg class="intro" [class.go]="intro">
                        <text text-anchor="start" x="0" y="100" class="text text-stroke" clip-path="url(#text)"
                            [class.banner-title-mobile]="isMobile">
                            Web Developer.</text>
                        <defs>
                            <clipPath id="text">
                                <text text-anchor="start" x="0" y="100" class="text"
                                    [class.banner-title-mobile]="isMobile">Web Developer.</text>
                            </clipPath>
                        </defs>
                    </svg>
                    <button mat-raised-button color="warn" class="loud-btn" [class.loud-btn-mobile]="isMobile"
                        [class.loud-btn-show]="introBtn" (click)="openContactModal()">
                        Get In Touch.
                    </button>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>
<div class="warn-bg" style="height: 5px;"></div>
<div class="container dark-bg">
    <div class="content-strip">
        <h1 class="content-headline">Skills</h1>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 110 10" style="width: 150px; height: 20px;">
            <polyline [attr.points]="squigglePoints.join(' ')" class="primary-squiggle">
            </polyline>
        </svg>
        <mat-grid-list [cols]="isMedium ? 12 : 10" rowHeight="350px" gutterSize="5px" class="skill-grid-list">
            <mat-grid-tile [colspan]="isMobile ? 10 : isMedium ? 4 : 2" rowspan="1" *ngFor="let skill of skills">
                <mat-card class="skill-card">
                    <img [src]="skill.img" alt="NodeJS" class="skill-img">
                    <p class="skill-title">
                        {{skill.name}}<span [style.color]="skill.color">{{skill.name_accent}}</span>
                    </p>
                    <mat-card-content>
                        <mat-icon [style.color]="skill.color" [svgIcon]="skill.rating >= 1 ? 'star' : 'emptyStar'"
                            aria-hidden="false" aria-label="star" class="skill-star"></mat-icon>
                        <mat-icon [style.color]="skill.color" [svgIcon]="skill.rating >= 2 ? 'star' : 'emptyStar'"
                            aria-hidden="false" aria-label="star" class="skill-star"></mat-icon>
                        <mat-icon [style.color]="skill.color" [svgIcon]="skill.rating >= 3 ? 'star' : 'emptyStar'"
                            aria-hidden="false" aria-label="star" class="skill-star"></mat-icon>
                        <mat-icon [style.color]="skill.color" [svgIcon]="skill.rating >= 4 ? 'star' : 'emptyStar'"
                            aria-hidden="false" aria-label="star" class="skill-star"></mat-icon>
                        <mat-icon [style.color]="skill.color" [svgIcon]="skill.rating >= 5 ? 'star' : 'emptyStar'"
                            aria-hidden="false" aria-label="star" class="skill-star"></mat-icon>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button [style.color]="skill.color" class="skill-btn">MORE</button>
                    </mat-card-actions>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>
<div class="full-height-container">
    <mat-grid-list cols="12" rowHeight="100%" style="overflow-x: visible" gutterSize="0">
        <mat-grid-tile [colspan]="isMedium || isMobile ? 12 : 7" rowspan="1"
            class="accent-bg centered-content-container">
            <div class="about-container">
                <p class="about-me-headline">
                    Wesley Young
                </p>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 110 10" style="width: 75px; height: 10px;">
                    <polyline [attr.points]="squigglePoints.join(' ')" class="primary-squiggle">
                    </polyline>
                </svg>
                <p class="about-me-txt">
                    Is a full-stack developer currently living in Saint George, UT. He also has experience in network
                    administration, pay-per-click marketing, home automation, and high-end residential audio-visual
                    systems.
                </p>
                <!--<p class="about-me-txt">
                    Currently looking for work all over the U.S.
                </p>-->
            </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="5" rowspan="1" class="centered-content-container dark-bg"
            *ngIf="!isMedium && !isMobile" style="background-image: url(./assets/imgs/stg.webp); background-size: cover;">
            
                <!--<div>
                    <h1 class="modern-title">ABOUT ME<span class="warn">.</span></h1>
                </div>-->
          
        </mat-grid-tile>
    </mat-grid-list>
</div>