
.loud-btn {
    z-index: 0;
    height: 65px;
    width: 100%;
    font-family: pacifico !important;
    font-size: 35px;
    border-radius: 0 0 50px 50px !important;
    bottom: 30px;
    padding-bottom: 10px !important;
    text-decoration: none;
}
.loud-btn-mobile {
    font-size: 30px !important;
    bottom: 22px !important;
}
.loud-btn:hover {
    transition: all ease 1s !important;
    text-decoration: underline;
    text-decoration-color: black;
}

.banner {
    /*background-color: #303f9f;*/
    /*background-color: #002171;*/
    /*background-image: url(../../assets/code_banner.webp);*/
}

.banner-title {
    color: whitesmoke;
    font-weight: 100;
    z-index: 10;
    position: relative;
    font-size: 75px;
    font-family: pacifico;
    pointer-events: none !important;
    /*text-decoration-line: underline;*/
    text-decoration-color: #81c784;
    text-shadow: 0 8px 10px black;
    margin: 0 !important;
}

.banner-title-mobile {
    font-size: 55px !important;
}

.banner-subtitle {
    color: white;
    font-size: 45px;
    font-family: SrcSansProLight;
    max-width: 650px !important;
    margin-top: 0 !important;
}

.banner-container {
    width: 100%;
    height: 100%;
    line-height: 100vh;
    background-color: rgba(0, 0, 0, .1);
}
  
.banner-container > div {
    vertical-align: middle;
    display: inline-block;
    line-height: normal;
}

.banner-img {
    width: 300px;
    height: 300px;
    border-radius: 100%;
}

.banner-img-mobile {
    width: 200px;
    height: 200px;
}

.banner-section {
    background-size: cover !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position-x: left;
    background-repeat: no-repeat;
}

.skill-card {
    background-color: transparent !important;
    max-height: 100%;
    box-shadow: none !important;
}

.skill-card > .mat-card-content {
    margin-bottom: 0 !important;
}

.skill-title {
    color: white;
    height: 72px !important;
    font-size: 32px;
    font-family: SrcSansProLight;
    line-height: 35px;
}

.skill-card-left {
    text-align: right;
}

.skill-card-right {
    text-align: left;
}

.skill-btn {
    font-family: SrcSansPro;
    font-size: 20px;
    width: 60%;
    height: 50px;
}

.tile {
    position: relative !important;
    display: inline-block !important;
}

.dark-bg {
    background-color: rgb(20, 20, 20) !important;
}