@import '../../custom-theme.scss';

.loud-btn {
    z-index: 0;
    height: 65px;
    width: 0;
    font-family: pacifico !important;
    font-size: 35px;
    border-radius: 50px 50px 50px 50px;
    padding-bottom: 10px !important;
    text-decoration: none;
    opacity: 0;
    bottom: 122px;
}
.loud-btn-mobile {
    font-size: 30px !important;
    bottom: 122px !important;
    max-width: 375px !important;
}
.loud-btn:hover {
    text-decoration: underline;
    text-decoration-color: black;
    background-color: $pop-color;
}
.banner-title {
    color: whitesmoke;
    font-weight: 100;
    z-index: 10;
    position: relative;
    font-size: 75px;
    font-family: pacifico;
    pointer-events: none !important;
    /*text-decoration-line: underline;*/
    text-decoration-color: $accent-color;
    text-shadow: 0 8px 10px black;
    margin: 0 !important;
}

.banner-title-mobile {
    font-size: 55px !important;
}

.banner-subtitle {
    color: white;
    font-size: 45px;
    font-family: SrcSansProLight;
    max-width: 650px !important;
    margin-top: 0 !important;
}

.banner-container {
    width: 100%;
    height: 100%;
    line-height: 100vh;
    background-color: transparent;
}
  
.banner-container > div {
    vertical-align: middle;
    display: inline-block;
    line-height: normal;
    width: 100%;
    max-width: 515px;
}

.banner-container-mobile > div {
    max-width: 375px !important;
}

.banner-img {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    position: relative;
    margin-bottom: 50px;
    margin-top: 122px;
}

.banner-img-mobile {
    width: 200px;
    height: 200px;
    
}

.banner-section {
    background-size: cover !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position-x: left;
    background-repeat: no-repeat;
}

.skill-grid-list {
    overflow-x: visible;
    margin-top: 40px;
}

.skill-card {
    max-height: 100%;
    width: 100%;
    box-shadow: none !important;
}

.skill-card > .mat-card-content {
    margin-bottom: 0 !important;
}

.skill-title {
    color: white;
    height: 72px !important;
    font-size: 32px;
    font-family: SrcSansProLight;
    line-height: 35px;
}

.skill-card-left {
    text-align: right;
}

.skill-card-right {
    text-align: left;
}

.skill-btn {
    font-family: SrcSansPro;
    font-size: 20px;
    width: 60%;
    height: 50px;
}

.proj-btn {
    font-family: SrcSansPro;
    font-size: 20px;
    width: 60%;
    height: 50px;
    padding-top: 7px;
}

.tile {
    position: relative !important;
    display: inline-block !important;
}

.dark-bg {
    background-color: rgb(20, 20, 20) !important;
}

.primary-bg {
    background-color: $primary-color;
}

.accent-bg {
    background-color: $accent-color;
}

.warn-bg {
    background-color: $warn-color;
}

.pop-bg {
    background-color: $pop-color;
}

.pop-shadow {
    text-shadow: 3px 3px $pop-color;
}

.experience-card {
    text-align: left;
    margin-bottom: 25px;
    background-color: $med-dark;
}

.experience-card-right {
    margin-left: 52% !important;
}

.experience-card-left {
    margin-right: 52% !important;
}

.modern-title {
    /*font-family: Staatliches;*/
    /*color: whitesmoke;*/
    font-family: RubikBold;
    color: whitesmoke;
    text-transform: capitalize;
    line-height: 220px;
    letter-spacing: 10px;
    /*text-decoration: underline $accent-color;*/
    text-shadow: 5px 5px $pop-color;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
    max-width: 550px;
    word-wrap: break-word;
    font-size: 220px;
}

.about-container {
    transition: all .5s ease-in-out;
    text-align: left;
    padding: 0 80px 0 80px;
    width: auto !important;
    max-width: 700px;
}

.about-me-headline {
    color: whitesmoke;
    font-size: 30px;
    font-family: pacifico;
    margin-bottom: 10px !important;
}

.about-me-txt {
    color: black;
    font-size: 20px;
    font-family: SrcSansPro;
    text-align: left;
}

.skew-left {
    transform: skewY(-15deg) !important;
}

.skew-right {
    transform: skewY(15deg) !important;
}

.starfield {
    position: fixed;
    top: 0;
    height: calc(100vh);
    width: calc(100vw);
    z-index: -2;
    left: 0 !important;
}

.ball-bg {
    background-image: linear-gradient(to top, $warn-color, $pop-color);
  }

.ball-container {
    position: relative !important;
    z-index: -5 !important;
    overflow: hidden !important;
}

svg.intro {
    position: relative;
    transform: translate(0%, -50%);
    pointer-events: none !important;
    text-align: center;
    width: 100%;
    z-index: 10;

    .text { 
      display: none !important;
    }

    &.go {

      .text {
        font-family: pacifico;
        font-size: 75px;
        font-weight: 100;
        display: inline-block !important;
      } 

      .text-stroke {
        fill: none;
        stroke: whitesmoke;
        stroke-width: 15;
        stroke-dashoffset: -600;
        stroke-dasharray: 600;
        stroke-linecap: round;
        stroke-linejoin: round;
        animation: dash 2s ease-in-out forwards;
      }
    }
  }
  
  @keyframes dash {
    100% {
        stroke-dashoffset: 0;
    }
  }