@import '~@angular/material/theming';
@include mat-core();

/*$accent-color: #81c784;*/
$soft-dark: #212121;

$primary-color: #584053;
$primary-txt-color: #ECE6CD;

$accent-color: #8DC6BF;
$accent-txt-color: #212121;

$warn-color: #F97B4F;
$warn-txt-color: #212121;

$pop-color: #FCBC66;

$pro-primary: (
    50: $primary-color,
    100: $primary-color,
    200: $primary-color,
    300: $primary-color,
    400: $primary-color,
    500: $primary-color,
    600: $primary-color,
    700: $primary-color,
    800: $primary-color,
    900: $primary-color,
    A100: $primary-color,
    A200: $primary-color,
    A400: $primary-color,
    A700: $primary-color,
    contrast: (
      50: $primary-txt-color,
      100: $primary-txt-color,
      200: $primary-txt-color,
      300: $primary-txt-color,
      400: $primary-txt-color,
      500: $primary-txt-color,
      600: $primary-txt-color,
      700: $primary-txt-color,
      800: $primary-txt-color,
      900: $primary-txt-color,
      A100: $primary-txt-color,
      A200: $primary-txt-color,
      A400: $primary-txt-color,
      A700: $primary-txt-color,
    )
  );
$pro-accent: (
  50: $accent-color,
    100: $accent-color,
    200: $accent-color,
    300: $accent-color,
    400: $accent-color,
    500: $accent-color,
    600: $accent-color,
    700: $accent-color,
    800: $accent-color,
    900: $accent-color,
    A100: $accent-color,
    A200: $accent-color,
    A400: $accent-color,
    A700: $accent-color,
    contrast: (
      50: $accent-txt-color,
      100: $accent-txt-color,
      200: $accent-txt-color,
      300: $accent-txt-color,
      400: $accent-txt-color,
      500: $accent-txt-color,
      600: $accent-txt-color,
      700: $accent-txt-color,
      800: $accent-txt-color,
      900: $accent-txt-color,
      A100: $accent-txt-color,
      A200: $accent-txt-color,
      A400: $accent-txt-color,
      A700: $accent-txt-color,
    )
  );
  $pro-warn: (
    50: $warn-color,
    100: $warn-color,
    200: $warn-color,
    300: $warn-color,
    400: $warn-color,
    500: $warn-color,
    600: $warn-color,
    700: $warn-color,
    800: $warn-color,
    900: $warn-color,
    A100: $warn-color,
    A200: $warn-color,
    A400: $warn-color,
    A700: $warn-color,
    contrast: (
      50: $warn-txt-color,
      100: $warn-txt-color,
      200: $warn-txt-color,
      300: $warn-txt-color,
      400: $warn-txt-color,
      500: $warn-txt-color,
      600: $warn-txt-color,
      700: $warn-txt-color,
      800: $warn-txt-color,
      900: $warn-txt-color,
      A100: $warn-txt-color,
      A200: $warn-txt-color,
      A400: $warn-txt-color,
      A700: $warn-txt-color,
    )
  );
$portfolio-primary: mat-palette($pro-primary);
$portfolio-accent: mat-palette($pro-accent);
$portfolio-warn: mat-palette($pro-warn);

$portfolio-theme: mat-dark-theme($portfolio-primary, $portfolio-accent, $portfolio-warn);

@include angular-material-theme($portfolio-theme);

.content-headline {
  color: white;
  margin-bottom: 0 !important;
  font-size: 60px;
  font-weight: 300;
  font-family: SrcSansProLight !important;
}

.footer {
  z-index: 100;
}

.footer-headline {
  color: whitesmoke;
  margin-bottom: 0;
  font-size: 35px;
  font-weight: 300;
  font-family: SrcSansProLight !important;
}

.footer-txt {
  color: whitesmoke;
  font-size: 20px;
  font-weight: 300;
  font-family: SrcSansProLight !important;
}

.skill-img {
  width: 100px !important;
}

.primary {
  color: $primary-color !important;
}

.accent {
  color: $accent-color !important;
}

.warn {
  color: $warn-color !important;
}

.pop {
  color: $pop-color !important;
}

.dash {
  border-bottom: 2px solid $accent-color; 
  margin: 0 25% 0 25%; 
  height: 2px;
}

.dark-dash {
  border-bottom: 2px solid rgb(20, 20, 20); 
  margin: 0 25% 0 25%; 
  height: 2px;
}

.pacifico {
  font-family: 'Pacifico' !important;
}

.centered-content-container {
  width: 100%;
  height: 100%;
  line-height: 100vh;
}

.centered-content-container > .mat-figure > div {
  vertical-align: middle;
  display: inline-block;
  line-height: normal;
  width: 100%;
}