@import './custom-theme.scss';

html, body { 
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: $med-dark !important;
    /*background-color: rgb(20, 20, 20) !important;*/
}

body { 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.dark-bg {
  background-color: rgb(20, 20, 20) !important;
}

.accent-dark-bg {
  background-image: linear-gradient(to left, $accent-color, rgb(20, 20, 20));
}

.dark-accent-bg {
  background-image: linear-gradient(rgb(20, 20, 20), $accent-color);
}

.primary-accent-bg {
  background-image: linear-gradient(to left, $primary-color, $accent-color);
}

.primary-warn-bg {
  background-image: linear-gradient(to left, $primary-color, $warn-color);
}

.warn-primary-bg {
  background-image: linear-gradient(to right, $primary-color, $warn-color);
}

.accent-warn-bg {
  background-image: linear-gradient(to left, $accent-color, $warn-color);
}

.warn-pop-bg {
  background-image: linear-gradient(to left, $warn-color, $pop-color);
}

.soft-med-dark-bg {
  background-image: linear-gradient(to left, $soft-dark, $med-dark);
}

.primary-med-dark-bg {
  background-image: linear-gradient(to top, $primary-color, $med-dark);
}

.pacifico {
    font-family: 'Pacifico', cursive !important;
}

.transparent {
  background-color: transparent !important;
}

.content {
  width: 100%;
  align-self: center;
  max-width: 1200px;
  padding-top: 20px;
  display: inline-block;
  text-align: auto;
  overflow: visible;
}

.content-headline {
  font-family: pacifico;
  color: whitesmoke;
  text-transform: capitalize;
  margin-top: 0 !important;
  font-weight: 100 !important;
  margin-bottom: 0 !important;
  font-size: 80px;
}


.white {
  background-color: whitesmoke;
}

.true-black {
  background-color: black;
}

.content-np {
  width: 100%;
  align-self: center;
  max-width: 1200px;
  display: inline-block;
  text-align: auto;
  overflow: visible;
}
  
.content-strip {
  width: 100%;
  align-self: center;
  max-width: 1600px;
  padding: 50px 0 50px 0;
  display: inline-block;
  text-align: auto;
  overflow: hidden;
}

.content-sm {
  width: 100%;
  align-self: center;
  max-width: 600px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: inline-block;
  text-align: auto;
  overflow: visible;
}

.container {
  align-items: center;
  align-content: center;
  text-align: center;
  width: 100%;
  display: inline-block;
}

.full-height-container {
  align-items: center;
  align-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
}

.double-height-container {
  align-items: center;
  align-content: center;
  text-align: center;
  width: 100%;
  height: 200vh;
}

.molecular-field-bg {
  align-items: center;
  align-content: center;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100vh;
}

.contact-modal > .mat-dialog-container {
  width: 100vw;
  max-width: 1000px;
  background-color: rgb(20, 20, 20);
}
  
.contact-modal > .mat-dialog-container > app-contact-modal {
  width: 100%;
}

.contact-left-pane-title {
  text-align: center;
  font-size: 90px;
  font-family: pacifico;
  color: whitesmoke;
  font-weight: 100;
}

.contact-cta-btn {
  width: 85%;
  height: 50px;
  font-size: 24px;
  font-family: pacifico;
}
.contact-cancel-btn {
  height: 50px;
  font-size: 24px;
  font-family: pacifico;
}

.dark-squiggle {
  stroke-dashoffset: 2e-05;
  stroke-dasharray: none;
  stroke: rgb(20, 20, 20);
  fill: none;
  stroke-width: 3;
}

.primary-squiggle {
  stroke-dashoffset: 2e-05;
  stroke-dasharray: none;
  stroke: $primary-color;
  fill: none;
  stroke-width: 3;
}

.accent-squiggle {
  stroke-dashoffset: 2e-05;
  stroke-dasharray: none;
  stroke: $accent-color;
  fill: none;
  stroke-width: 3;
}

.warn-squiggle {
  stroke-dashoffset: 2e-05;
  stroke-dasharray: none;
  stroke: $warn-color;
  fill: none;
  stroke-width: 3;
}

.pop-squiggle {
  stroke-dashoffset: 2e-05;
  stroke-dasharray: none;
  stroke: $pop-color;
  fill: none;
  stroke-width: 3;
}